/* general */
$height100: 100%;

/* fonts */
$OpenSansFont: "Open Sans", sans-serif;
$MerriweatherFont: "Merriweather", sans-serif;

/* colors */
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$lightGreen: rgb(130, 202, 156);
$purple: rgb(189, 140, 191);
$gray: rgb(225, 225, 225);

    /* Feature boxes */
$design_quality_color: rgb(245, 152, 157);
$built_to_last: rgb(97, 95, 125);
$how_to_shoo: rgb(189, 140, 191);
$perfect_pictures: #82ca9c;

/* A look at the details */
$detailsParagraphColor: rgb(149, 149, 149);
$detailsTitleColor: rgb(103, 103, 109);